body {
  background-color: rgb(255, 255, 255);
  font-family: Helvetica;
}

table{
  background-color: rgb(230, 230, 250);
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 20px;
  text-align: left;
  overflow: hidden; 
  text-overflow: ellipsis; 
  word-wrap: break-word;
}

img {
  width: 49%;
  height: auto;
  margin: 5px;
}
