body {
  background-color: rgb(255, 255, 255);
  font-family: Helvetica;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

table{
  background-color: rgb(230, 230, 250);
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 20px;
  text-align: left;
  overflow: hidden; 
  text-overflow: ellipsis; 
  word-wrap: break-word;
}

img {
  width: 45%;
  height: auto;
  margin: 5px;
  vertical-align: middle;
}
